body {
    height: 100vh;
}
#mr-logo-img {
    width: 140px;
    height: 50px;
}
.mr-header {
    background:hsl(133, 80%, 12%);
}
.mr-header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.mr-dropdown-trigger {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.mr-header a:hover {
    color: rgb(0, 0, 0);
}  
#mr-navigation-bar > li {
    display: inline;
}
#mr-navigation-bar {
    float: right;
    margin-right: 200px;
    width: 31%;
}
.mr-login-button {
    float: right;
    margin-left: 50px;
}
.mr-dropdown-options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.mr-dropdown-trigger:hover .mr-dropdown-options{
    display: block;
}
.mr-dropdown-options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.mr-dropdown-options a:hover {
    background-color: #f1f1f1;
}
li.mr-dropdown-trigger:hover {
    cursor: pointer;
    background: #ddd;
    color: rgb(0, 0, 0);
}
table,
td {
    border: 2px solid rgb(3, 88, 70);
    margin-top: 5px; 
}
thead,
tfoot {
    background: rgb(22, 75, 7);
    color: #fff;
}
#dynamic-table { 
    display: none;
}
.login-form {
    width: 385px;
    margin: 30px auto;
}
.login-form>form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    padding: 30px;
}
.login-form h2 {
    text-align: center;
}
.avatar {
    margin: auto;
    width: 45px;
    border-radius: 100px;
    height: 45px;
    background: #448ed3;
    bottom: -29px;
    right: 50px;
}
#avatar {
    height: 45px;
    position: relative;
    right: 8px;
    bottom: 17px;
}
.register-form {
    width: 385px;
    margin: 30px auto;
}
.mr-red-border {
    border:  1px solid red !important;
}
.mr-red-text {
    color: red;
}
.hide {
    display: none !important;
}
.show {
    display: block;
}
.checkbox-inline {
    font-size: 0.9em;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.mr-contact-item {
    margin: 0px 0px 40px 0px;
    border-bottom: 3px solid #0d5b28;
}

.mr-contact>h1 {
    font-size: 50px;
}
.mr-sanction {
    text-align: center;
}
.mr-sanction-item {
    margin: 0px 0px 50px 0px;
    border-bottom: 3px solid #008000;
}
.mr-sanction>h1 {
    font-size: 50px;
}
/*p:first-child {*/
/*    font-size: 30px;*/
/*}*/
/* styles for 3rd party dropdown */
.custom-select-wrapper {
    position: absolute;
    user-select: none;
    width: auto;
    margin-left: 200px;
}
.custom-select {
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #394a6d;
    right: 250px;
    width: 150px;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 17px;
    font-weight: 300;
    color: #3b3b3b;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #394a6d;
    height: 40px;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    width: 150px;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 17px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #ffffff;
    background-color: #305c91;
}
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
.mr-contact-menu-item {
    left: 190px;
    position: relative;
}
.mr-full-width {
    width: 100%;
}
/* Form register */
*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 {
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}


