<div id="mr-form-player">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="lastname">Nume</label>
            <input id="lastname" data-mr-player="lastname" type="text" name="lastname" class="form-control" required="required">
            <span id="mr-color-red-lastname" class="hide mr-red-text">Acest camp este obligatoriu</span>
        </div>
        <div class="form-group col-md-6">
            <label for="firstname">Prenume</label>
            <input id="firstname" data-mr-player="firstname" name="firstname" type="text" class="form-control" required="required">
            <span id="mr-color-red-firstname" class="hide mr-red-text">Acest camp este obligatoriu</span>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="badgeNumber">Nr. legitimatie</label>
            <input id="badgeNumber" data-mr-player="badge-number" name="badge-number" type="text" class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="yellowCards">Cartonase galbene</label>
            <input id="yellowCards" data-mr-player="yellow-cards" name="yellow-cards" type="number" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="redCards">Cartonase rosii</label>
            <input id="redCards" data-mr-player="red-cards" name="red-cards" type="number" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="goalsScored">Goluri marcate</label>
            <input id="goalsScored" data-mr-player="goals-scored" name="goals-scored" type="number" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <select id="chooseTeam" data-mr-player="choose-team" name="choose-team" class="form-control">
                <option selected>Alege echipa...</option>
                <option value="1">Nici o echipa</option>
                <option value="1">Echipa 1</option>
                <option value="2">Echipa 2</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-check">
                <input data-mr-player="suspended" name="suspended" id="suspendedCheck" class="form-check-input" type="checkbox">
                <label class="form-check-label" for="suspendedCheck">
                    Suspendat
                </label>
            </div>
        </div>
    </div>
    <button id="mr-add-player" class="btn btn-success">Salveaza</button>
</div>
