    <div  class="form-group">
        <label for="exampleFormControlInput1">Titlu</label>
        <input id="mr-announcement-title" type="email" class="form-control" id="exampleFormControlInput1">
    </div>
    <div  class="form-group">
        <label for="exampleFormControlTextarea1">Descriere</label>
        <textarea id="mr-announcement-description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <button id="mr-click-announcement-button" class="btn btn-primary login-btn ">Publica</button>
    </div>
