    <div  class="form-group">
        <label for="mr-announcement-title">Titlu</label>
        <input id="mr-announcement-title" type="email" class="form-control" data-mr-announcement="title">
    </div>
    <div  class="form-group">
        <label for="mr-announcement-description">Descriere</label>
        <textarea id="mr-announcement-description" class="form-control" data-mr-announcement="description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <button id="mr-click-announcement-button" class="btn btn-primary login-btn ">Publica</button>
    </div>
