    <div class="form-horizontal register-form">
      <div>
        <h2 class="text-center">Inregistrare</h2>

          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input id="firstname" type="text" class="form-control" name="firstname" placeholder="Prenume*" required="required">
              </div>
              <span id="mr-color-red-firstname" class="hide mr-red-text">Acest camp este obligatoriu</span>
          </div>

          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input id="lastname" type="text" class="form-control" name="lastname" placeholder="Nume*" required="required">
              </div>
              <span id="mr-color-red-lastname" class="hide mr-red-text">Acest camp este obligatoriu</span>
          </div>

          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="fas fa-envelope"></i></span>
                  <input id="mr-email" type="text" class="form-control" name="email" placeholder="Email*" required="required">
              </div>
              <span id="mr-color-red-email" class="hide mr-red-text">Acest camp este obligatoriu</span>
          </div>

          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                  <input id="mr-password" type="password" class="form-control" name="password" placeholder="Parola*" required="required">
              </div>
              <span id="mr-color-red-password" class="hide mr-red-text">Acest camp este obligatoriu</span>
          </div>

          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                  <input id="confirm-password" type="password" class="form-control" name="password" placeholder="Confirmare Parola*" required="required">
              </div>
              <span id="mr-color-red-confirm-password" class="hide mr-red-text">Acest camp este obligatoriu</span>
          </div>
          <p class="text-muted small">Campuri obligatorii*</p>
        <button id="mr-registration-button" class="btn btn-primary btn-block">Inregistrare</button>
      </div>
    </div>
