
    <h2>AS GLISSANDO</h2>
    <div>
        <p>CULORILE ECHIPEI: ALB-ROSU</p>
        <p>DELEGATII ECHIPEI: IOVESCU MARCEL</p>
        <p>ANTERNORII ECHIPEI: TUS MIRCEA</p>

    </div>
<div>
    <table class="table tabel-success">
        <thead class="tabel-success">
        <tr class="table-success">
            <th class="bg-success" scope="col">Nr.</th>
            <th class="bg-success" scope="col">Nume jucator</th>
            <th class="bg-success" scope="col">Nr. legitimatie</th>
            <th class="bg-success" scope="col">G</th>
            <th class="bg-success" scope="col">GG</th>
            <th class="bg-success" scope="col">CR</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-success">
            <th scope="row">1</th>
            <td>BOKOR ISTVAN-TIBOR</td>
            <td>99</td>
            <td>8</td>
            <td>0</td>
            <td>0</td>

        </tr>
        <tr class="table-success">
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>

        </tr>
        <tr class="table-success">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr>
        <tr class="table-success">
            <th scope="row">4</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">5</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">6</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">7</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">8</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">9</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">10</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">11</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">12</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">13</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">14</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr><tr class="table-success">
            <th scope="row">15</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr>
        </tbody>
    </table>

</div>

    <div>
        <p>Meciul urmator: ETAPA 26 - 22.03.2020 Ora: 9 Teren: 1 Vs.: HELLA ELECTRONICS </p>
        <p>Meciul urmator: ETAPA 27 - 29.03.2020 Ora: 10 Teren: 1 Vs.: UNIREA CERNETEAZ</p>
        <p>Meciul urmator: ETAPA 28 - 05.04.2020 Ora: 10 Teren: 1 Vs.: SFK MLADOST 09</p>
    </div>










